
@using NewsEngine.Models;
@{
    ViewBag.Title = "RazorTest";
    List<Human> hlist = new List<Human>();
    Random random = new Random();
    for (int i = 0; i < 10; i++)
    {
        hlist.Add(new Human($"Имя{i}", random.Next(18, 50), $"Город {i}"));
    }

}

<h2>RazorTest</h2>
<table border="1" width="300">
    @foreach (var Human in hlist)
    {
        if (Human.getAge() > 35)
        {
            <tr bgcolor="lightblue"><td width="40%">@Human.getName()</td><td width="20%">@Human.getAge()</td><td width="40%">@Human.getBirth()</td></tr>
        }
        else
        {
            <tr><td>@Human.getName()</td><td>@Human.getAge()</td><td>@Human.getBirth()</td></tr>
        }
    }
</table>

@section rightpanel{
        @Helpers1.PrintHuman(hlist, "Имя1");
        @Helpers1.PrintHuman(hlist, "Имя2");
        @Helpers1.PrintHuman(hlist, "Имя3");
    }

@section footer{
    &copy; krogantz, @DateTime.Now.Year
}
